nav(class="navigation-bar")
    p OpenForum
    a(href="/" id="main-page") Главная
    a(href="/category" id="forum-page") Тематические разделы

    if !authorised
        a(href="/login" id="chat-page") Чаты
        div(class="user-card")
            img(src="/images/profile.png" class="avatar")
            a(href="/login") Войти
    else
        a(href="/chat" id="chat-page") Чаты
        div(class="user-card")
            img(src="/images/profile.png" class="avatar")
            a(href="/user/-1/profile") #{username}

