div(class="nav-header")
    p(class="nav-header__logo") OpenForum
    nav(class="nav-header__container")
        a(href="/" class="nav-header__button") Главная
        a(href="/category?page=1" class="nav-header__button") Тематические разделы
        a(href="/chat?page=1" class="nav-header__button") Чаты
    div(class="nav-header__profile")
        if !authorised
            img(src="/images/profile.png" class="nav-header__profile-picture")
            a(href="/login" class="nav-header__profile-name") Войти
        else
            img(src="https://ui-avatars.com/api/?name=" + username + "&background=random&rounded=true&size=48" class="nav-header__profile-picture")
            a(href="/user/" + userid + "/profile" class="nav-header__profile-name") #{username}



