extends ../template

block additionalScripts
    script(src='/js/register.js')

block body
    main
        div(class='login')
            div(class='login__container' id='register-container')
                p(class='login__logo') OpenForum
                form(class='login__form' id='signup-form')
                    div(class='login__form-group')
                        label(class='login__form-input-label' for='username') Имя пользователя
                        input(class='login__form-input' id='username' type=text pattern="[0-9a-zA-Z]{2,32}" required=true)
                    div(class='login__form-group')
                        label(class='login__form-input-label' for='email') E-mail
                        input(class='login__form-input' id='email' type='email' required=true)
                    div(class='login__form-group')
                        label(class='login__form-input-label' for='password') Пароль
                        input(class='login__form-input' id='password' type="password" pattern="[0-9a-zA-Z]" minlength=8 required=true)
                    a(class='login__form-link' href="/login") Авторизация
                    button(class='register__form-button' id='register-btn') Зарегистрироваться
                    p(class='login__info-text') • Никнейм должен сдержать цифры и буквы латинского алфавита и состоять из 2-32 символов
                    p(class='login__info-text') • Пароль должен сдержать минимум одну цифру и букву латинского алфавита, а так же быть не менее 8 символов в длину
                div(class='login__info-card' style='visibility: hidden' id='info-card')