extends ../template

block content
    h1 Профиль пользователя #{username} [id#{userId}]
    section
        article
            h2 Роль
            p #{role}
        article
            h2 О себе
            p #{bio}