form(id="task-manager-form" class="task-manager-form")
    input(type="text" id="task-text" name="task-text" placeholder="Текст задачи" class="text-input")
    input(type="submit" value="Сохранить" class="submit-button")

div(class="task-manager-container")
    h1 Текущие задачи
    div(id="task-container")
