style
    include ../public/css/outlines.css
    include ../public/css/task-manager-style.css
    include ../public/css/auth-style.css
    include ../public/css/header-style.css
script
    include ../public/js/active_page_indicator.js
    include ../public/js/page_load_time.js