link(href='/css/outlines.css' rel='stylesheet')
link(href='/css/header.css' rel='stylesheet')
link(href='/css/footer.css' rel='stylesheet')
link(href='/css/login.css' rel='stylesheet')
link(href='/css/chat.css' rel='stylesheet')
link(href='/css/error.css' rel='stylesheet')
link(href='/css/profile.css' rel='stylesheet')
link(href='/css/category.css' rel='stylesheet')
link(href='/css/topic.css' rel='stylesheet')
link(href='/css/post.css' rel='stylesheet')