doctype html
html(lang="ru")
    head
        meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
        style
            include includes
        title= title
        link(rel="icon" href="favicon.ico")
    body
        header
            block header
                include header
        main
            block content
        footer(id="footer-with-time")
            include footer