doctype html
html(lang="ru")
    head
        meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
        title= title
        block style
            include content/styles
        block scripts
            script(src='https://cdn.jsdelivr.net/gh/supertokens/supertokens-website/bundle/bundle.js')
            script(src='https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js')
            script(src='https://unpkg.com/axios/dist/axios.min.js')
            script(src='/js/api.js')
            script(src='/js/supertokens.js')
        block additionalScripts
        link(rel="icon" href="favicon.ico")

        body
            block body
                header
                    include partials/header
                main
                    block content
                footer
                    block footer
                        include partials/footer