header {
    position: static;
    top: 0;
    left: 0;
    z-index: 1000;
    width: auto;

    font-size: 20px;

    display: flex;
    flex-wrap: wrap;

    padding: 10px;

    background-color: #1881B5;
    font-weight: bold;
    text-align: center;
    flex-grow: 0
}

.navigation-bar > p,
.navigation-bar > a:link,
.navigation-bar > a:visited {
    display: inline-block;

    padding: 15px;
    margin: 10px;

    border-radius: 10px;
    color: white;
}

.navigation-bar > p {
    font-size: 30px;
}

.navigation-bar > a:link,
.navigation-bar > a:visited {
    border: 3px solid #1EA5E8;
    background-color: #1EA5E8;
}

.navigation-bar > a:hover,
.navigation-bar > a:active {
    border: 3px solid #1EA5E8;
    background-color: #2196d2;
}

.info-header {
    padding: 5px;
    display: flex;
    align-items: center;
    vertical-align: baseline;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 10px;
    border: 2px solid #1881B5;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

.navigation-bar > a.current-page:link,
.navigation-bar > a.current-page:visited {
    border: 3px solid white;
}

.navigation-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1000px;
}

