.nav-header {
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    background-color: #156f9c;
    font-weight: bold;
    text-align: center;
    flex-grow: 0;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
    box-sizing: border-box;
}

.nav-header__logo {
    font-family: "XO Verbena", sans-serif;
    display: inline-block;
    padding: 15px;
    margin: auto;
    border-radius: 10px;
    color: white;
    font-size: 40px;
    flex-grow: 0;
    cursor: default;
}

.nav-header__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.025);
    background: rgba(75, 79, 81, 0.43);
}

.nav-header__button:any-link {
    display: inline-block;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    color: white;
    border: none;
    background-color: #156f9c;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.nav-header__button:hover {
    display: inline-block;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    color: white;
    border: none;
    box-shadow: none;
    text-decoration: none;
}

.nav-header__button:active {
    display: inline-block;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    color: white;
    border: none;
    box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.nav-header__profile {
    color: white;
    display: flex;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    align-items: center;
    flex-grow: 0;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.025);
    background: rgba(75, 79, 81, 0.43);
}

.nav-header__profile-picture {
    display: inline-block;
    height: 48px;
    width: 48px;
    padding: 5px;
}

.nav-header__profile-name:any-link {
    color: white;
    padding: 5px;
    text-decoration: none;
}

.nav-header__profile-name:hover {
    color: white;
    padding: 5px;
    text-decoration-line: underline;
}

.nav-header__profile-container {
    display: flex;
    flex-direction: column;
}

.nav-header__logout {
    background: none;
    border: none;
    color: white;
    text-decoration: none;
    padding: 5px;
    cursor: pointer;
}

.nav-header__logout:hover {
    text-decoration: underline;
}