.login-main {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-shrink: 1;
    box-sizing: border-box;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    margin: 5px auto;
    flex-direction: column;
    flex-shrink: 1;
}

.login-form {
    color: white;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    max-width: 450px;
    padding: 30px;
    border-radius: 10px;
    background-color: #156f9c;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 1;
}

.login-form__input-group {
    display: block;
    margin-bottom: 15px;
    width: 100%;
    height: 100%;
}

.login-form__input-label {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 5px;
    display: flex;
    flex-shrink: 1;
}


.login-form__input {
    color: white;
    display: inline-block;
    font-size: 18px;
    line-height: 30px;
    overflow: visible;
    border-radius: 5px;
    background-clip: padding-box;
    padding: 5px;
    flex-grow: 1;
    border: 1px solid #3232321A;
    background: rgba(75, 79, 81, 0.43);
    width: 100%;
    box-sizing: border-box;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.025);
    outline: none;
}

.login-form__link:any-link {
    color: white;
    font-size: 16px;
    padding: 5px;
    text-decoration: none;
}

.login-form__link:hover {
    text-decoration-line: underline;
}

.login-form__submit-button {
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #3232321A;
    font-size: 16px;
    flex-grow: 0;
    display: inline-block;
    color: white;
    width: 100%;
    margin-top: 40px;
    line-height: 30px;
    background-color: #1EA5E8;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.login-form__submit-button:hover {
    box-shadow: none;
}

.login-form__submit-button:active {
    box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    font-weight: bold;
    display: inline-block;
    padding: 15px;
    margin: auto;
    border-radius: 10px;
    color: white;
    font-size: 40px;
    flex-grow: 0;
    font-family: "XO Verbena", sans-serif;
}

.login-form__link:any-link {
    color: white;
    font-size: 16px;
    padding: 15px;
    text-decoration: none;
}

.login-form__link:hover {
    text-decoration-line: underline;
}

.login-form__info-card {
    color: white;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    max-width: 450px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #156f9c;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
    /*display: flex;*/
    /*align-items: center;*/
    /*flex-direction: column;*/
    flex-shrink: 1;
    flex-grow: 1;
}

.login-form__info-text {
    font-size: 16px;
    margin: 5px;
    display: flex;
}

.register-form__submit-button {
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #3232321A;
    font-size: 16px;
    flex-grow: 0;
    display: inline-block;
    color: white;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 30px;
    background-color: #1EA5E8;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.register-form__submit-button:hover {
    box-shadow: none;
}

.register-form__submit-button:active {
    box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.1);
}