@font-face {
    font-weight: 400;
    font-family: "XO Oriel";
    font-style: normal;
    src: url("../fonts/XO_Oriel_Nu.ttf") format("tff");
}

@font-face {
    font-weight: 700;
    font-family: "XO Oriel";
    font-style: normal;
    src: url("../fonts/XO_Oriel_Bu.ttf") format("tff");
}

@font-face {
    font-weight: 400;
    font-family: "XO Verbena";
    font-style: normal;
    src: url("../fonts/XO_Verbena_Nu.ttf") format("tff");
}

html {
    font-size: 14px;
    font-family: "XO Oriel", sans-serif;
    margin: 0;
    height: 100%;
}

body {
    background-color: #222222FF;
    color: white;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1
}

.main-text {
    max-width: 800px;
    font-size: 30px;
    font-weight: bold;
    margin: 20px auto;
}