.task-manager-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #1881B5;
    /*background-color: #1881B5;*/

    margin: 10px auto;
    max-width: 1000px;
    text-align: center;
    font-size: 24px;
}

.task-manager-container {
    padding: 5px;
    border-radius: 10px;
    border: 2px dashed #1881B5;

    margin: 10px auto;
    max-width: 1000px;
    text-align: center;
}

#task-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.task-manager-element {
    border: 3px solid #1EA5E8;
    background-color: #1EA5E8;
    border-radius: 10px;
    margin: 15px;
    font-size: 18px;
    padding: 5px;

}


.task-manager-element > p {
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    border: 3px solid #1881B5;
    display: inline-block;
    color: white;
}

.text-input {
    display: inline-block;
    font-size: 24px;

    border: 5px solid #1881B5;
    border-radius: 10px;
    margin: 15px;
    padding: 10px;
    max-width: 800px;
    flex-grow: 1;
}

.delete-button {
    background-color: white;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    border: 3px solid #1881B5;
}

.submit-button {
    background-color: white;
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
    border: 5px solid #1881B5;
    font-size: 24px;
    flex-grow: 0;
    display: inline-block;
}

.delete-button:hover {
    background-color: Red;
    border: 3px solid #3d3b3b;
}

.submit-button:hover {
    background-color: Green;
    color: white;
}
